.env
venv
.idea
.vscode
__pycache__/
*.py[cod]
*.so
media
src/web/staticfiles/*
src/web/media/*
src/web/static/*
src/web/back_media/*
src/web/back_static/*
src/.idea/*
src/.env
**/migrations/00*.py
src/web/db.sqlite3
.venv/*
db.sqlite3
.idea/
back_media/
media/
venv/
*.pyc
storage/
!src/staticfiles/main_ui